.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  color: white;
  max-width: 720px;
  margin: 0;
}

@media all and (max-width: 767px) {
  .lead__title {
    font-size: 60px;
    line-height: 1.1;
  }
}

@media all and (max-width: 455px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
  }
}