.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0 0 26px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media all and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}