.intro {
  width: 77%;
  align-self: flex-start;
  margin: 92px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media all and (max-width: 1024px) {
  .intro {
    width: 90.6%;
  }
}

@media all and (max-width: 768px) {
  .intro {
    width: 93.75%;
    margin: 88px 24px 0 0;
  }
}

@media all and (max-width: 425px) {
  .intro {
    width: 90%;
    margin: 64px 0 0;
  }
}