.cover {
  width: 92.5%;
  display: flex;
  color: white;
  justify-content: center;
  margin: 92px 0 0;
  min-height: 740px;
  background-image: url(../../images/cover__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media all and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: calc(100vw*0.625);
  }
}

@media all and (max-width: 768px) {
  .cover {
    margin: 90px 0 0;
  }
}

@media all and (max-width: 425px) {
  .cover {
    margin: 66px 0 0;
  }
}